.container {
    width: 100%;
    height: 100%;
    padding: 4vw 20%;

    .formHighlight {
        img.image {
            height: 65%;
            width: 25vw;
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
        }

        .highlight {
            h3 {
                padding-top: 2%;
                font-size: 2.5rem;
            }

            p {
                font-size: 1.2rem;
                margin-top: 4%;
                padding-right: 3%;
            }
        }
    }

    .inforTour {
        width: 100%;
        clear: left;

        p {
            font-size: 1.2rem;
            margin-top: 5%;
        }

        .img-about {
            margin-top: 6%;
            width: 100%;
            height: 30vw;
            object-fit: cover;         
        }
    }
}

@media only screen and (max-width: 1500px) {
    .container {
        padding: 4vw 15%;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        padding: 4vw 10%;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        padding: 4vw 5%;
    }
}
