.container {
    width: 45rem;
    height: 100%;
    background-color: white;
    padding: 2rem;
    border: 2px solid var(--button);
    max-width: 100%;
    &::after {
        position: absolute;
        content: '';
        top: -1.2rem;
        left: 20.6rem;
        width: 2rem;
        height: 2rem;
        border-top-left-radius: 56%;
        border-bottom-right-radius: 100%;
        // border-top: 0.2rem solid var(--button);
        // border-left: 0.2rem solid var(--button);
        // background-color: var(--white);
        // transform: rotate(45deg);
    }
    
}

.container label {
    font-size: 16px;
    font-weight: bolder;
    // margin-top: 12rem;
}
.container input {
    width: 100%;
    height: 50px;
    border: solid 2px black;
    margin: 2rem 0 !important;
    padding: 0 10px;
}
.container input:hover {
    border: 2px solid rgb(221, 221, 13);
}
.container a {
    color: rgb(56, 21, 250);
    margin-left: 2rem;
}
.container button {
    width: 45%;
    height: 5rem;
    margin-top: 2rem;
    background-color: rgb(14, 55, 90);
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}
.container hr {
    margin-top: 1.5rem;
    border: 0.2px solid grey;
}
.container span {
    padding: 2rem 0;
}
.form-change{
    display: flex;
    .form-control{
        width: 75% !important;
        border-right: none;
    }
    .btn-active{
        border: solid 1px black;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        width: 25%;
        background-color: var(--button);
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }
}
.form-report {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.forget-pass {
    width: 100%;
    color: #000000 !important;
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 10%;
    text-align: center;
    margin-left:20px !important;
}

.forget-pass:hover {
    color: #cec32a !important;
}
.btn-submit{
    display: flex;
}


.group {
    display: flex;
    p {
        width: 45%;
        cursor: pointer;
        margin-top: 2rem;
        background-color: rgb(14, 55, 90);
        font-weight: bold;
        font-size: 16px;
        color: white;
        border-radius: 30px;
        text-align: center;
        padding: 15px 20px;
    }
    .icon-fb {
        margin-left: 25px;
    }
    svg {
        font-size: 24px;
        float: left;
        margin-left: 3rem;
    }
}
.icon-fb {
    text-align: center;
}
.error-message {
    color: red;
}


