.Siminal-Hotel {
    display: flex;
    padding-top: 5rem;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: auto;
}

.card {
    width: 31.4%;
    min-width: 300px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 100%;
}

.card-img {
    width: 100%;
    height: 15vw;
    min-height: 180px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infor {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;

    p {
        padding: 5px 0;
        color: gray;
    }
}

.title {
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    flex: 1;
    color: black;
}

.rating {
    color: rgb(209, 148, 27);
    margin-right: 5px;
    font-weight: bold;
}

.price {
    .price1 {
        color: black;
        font-weight: bold;
    }

    svg {
        margin-right: 5px;
        color: rgb(203, 144, 26);
    }

    .price2 {
        text-decoration: line-through;
    }
}

.place {
    svg {
        margin-right: 5px;
    }
}
.describe {
    span {
        font-weight: bold;
        color: black;
    }

    // height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 1250px) {
    .container {
        padding: 2rem 15%;
    }

    .Siminal-Hotel {
        justify-content: space-around;
    }

    .card {
        width: 40% !important;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 2rem 10%;
    }

    .card {
        width: 70% !important;
    }
}

@media only screen and (max-width: 580px) {
    .main-hotel {
        ul {
            margin-left: 2rem;
        }

        li {
            width: 40%;
        }
    }
}

@media only screen and (max-width: 430px) {
    .main-hotel {
        ul {
            margin-left: 1rem;
        }

        li {
            width: 45%;
        }

        table {
            th {
                margin-left: 0.5rem !important;
                padding-left: 0.5rem !important;
                width: 35%;
            }
        }
    }

    .des {
        button {
            margin-top: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffd307;
            width: 150px !important;
            height: 3vh !important;
            text-align: center;
            font-size: 1.6rem !important;
            font-weight: bold;
            cursor: pointer;

            .hr-left {
                border-left: 1px solid #000;
                height: 90%;
                margin: 20px;
            }
        }
    }
}
