.card {
    width: 31.4%;
    min-width: 300px;
    max-width: 450px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 1.8vw;
    display: flex;
    flex-direction: column;
}

.boxImg {
    width: 100%;
    height: 15vw;
    min-height: 180px;
}

.img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.infor {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: start;

    p {
        padding: 5px 0;
        color: gray;
    }

    .rate {
        span {
            margin-left: 5px;
        }

        .icon-star {
            color: #9c9c9c;

            span {
                margin-left: 0 !important;
                font-weight: bold;
                color: #f5a623;
            }

            p {
                padding: 1rem 0;
                font-size: 14px;
                color: #565656;
            }
        }

        .describe {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            span {
                margin-left: 0 !important;
                font-weight: bold;
                color: black;
            }
        }
    }
}

.nameCar {
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    flex: 1;
    color: black;
}

.rating {
    color: rgb(209, 148, 27);
    margin-right: 5px;
    font-weight: bold;
}
//content
.containerContent {
    width: 100%;
    position: relative;
    .contentDescrip {
        margin-bottom: 3vw;
    }
    h2 {
        margin-bottom: 30px;
    }
    .icon {
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 40px 20px;
        div {
            margin: 0 3%;
            h4 {
                color: #f5a623;
                padding-top: 5px;
            }
        }
        .seperate {
            border-right: solid 1px black;
        }
        .icon1 {
            border: none;
        }
    }
    h3 {
        margin: 40px 0;
        text-align: start;
        width: fit-content;
        // border-bottom: var(--primary) 2px solid;
    }
    .text {
        text-align: start;
    }

    .btn {
        width: 21rem;
        height: 4.6rem;
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--buttonPagination);
        background-color: var(--yellow);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4rem auto 0;
        border-radius: 0.2rem;
        cursor: pointer;
    }
    .list-transfer {
        padding: 3vw 0;
    }

    .imgVIP {
        width: 100% !important;
        height: auto !important;
    }
    .list-car {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}
.listService {
    display: flex;
    position: relative;
    padding: 1vw 0;
    gap: 40px;
    img {
        width: 50% !important;
        height: auto !important;
        object-fit: cover;
    }
    ul {
        list-style: none;
        margin-bottom: 3vw;

        li {
            text-align: start;
            margin-bottom: 15px;
            svg {
                color: #f5a623;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .card {
        width: 40%;
    }
}

@media only screen and (max-width: 700px) {
    .card {
        width: 100%;
    }
    .listService {
        flex-direction: column;
        img {
            width: 100% !important;
        }
        ul {
            width: 100% !important;
        }
    }
}
