.container {
    width: 100%;
    padding: 5% 20%;
}
.tour-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    width: 32%;
}

//responsive

@media only screen and (max-width: 1200px) {
    .container {
        padding: 5% 15%;
    }
}
@media only screen and (max-width: 900px) {
    .container {
        padding: 5% 10%;
    }
    .card {
        width: 48%;
    }
}
