.container {
    margin: auto;
    display: flex;
    width: 50%;
}

.text {
    width: 35%;
}
.text div {
    color: rgb(255, 255, 0);
    font-size: 8rem;
    text-align: right;
}
.text p {
    font-size: 1.4rem;
    text-align: end;
    color: #bcbcbc;
}
.text h5 {
    text-align: right;
    font-size: 1.8rem;
    padding: 2rem 0px;
}
.img {
    margin-left: 8rem;
}
@media only screen and (max-width: 1500px) {
    .container{
        width: 55%;
    }
    .text{
        width: 45%;
    }
}
@media only screen and (max-width: 1400px) {
    .container{
        width: 60%;
    }
    .text{
        width: 50%;
    }
}
@media only screen and (max-width: 1200px) {
    .container{
        width: 70%;
    }

    .img{
        margin-left: 1rem;
    }
}
@media only screen and (max-width: 900px) {
    .container{
        width: 80%;
    }

    .img{
        margin-left: 1rem;
    }
}
@media only screen and (max-width: 700px) {
    .container{
        width: 90%;
    }
    .img{
        margin-left: 1rem;
    }
}
