.container {
    padding: 0;
    margin: 2% auto;
    margin-bottom: 5%;
}
.img {
    display: block;
    width: 20vw;
    height: auto;
    margin: 0 auto;
    // padding: 2rem 0 0 0;
}
.h2 h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0 30%;
}
.text span {
    font-weight: bold;
    color: black;
}
.text {
    text-align: center;
    margin: 2rem 22%;
}
.text p {
    color: hsl(0, 0%, 38%, 0.7);
    line-height: 2;
}

@media only screen and (max-width: 1450px) {
    .h2 h2 {
        margin: 0 27%;
    }
}
@media only screen and (max-width: 1250px) {
    .h2 h2 {
        margin: 0 21%;
    }
}
@media only screen and (max-width: 880px) {
    .h2 h2 {
        margin: 0 22%;
    }
}
@media only screen and (max-width: 730px) {
    .h2 h2 {
        margin: 0 10% !important;
    }
    .text {
        margin: 2rem 17%;
    }
}
@media only screen and (max-width: 530px) {
    .h2 h2 {
        margin: 0 5% !important;
    }
    .text {
        margin: 2rem 12%;
    }
}
