.container {
    padding: 0;
    margin: auto;
}
.img {
    text-align: center;
    padding: 2rem 0 0 0;
}
.h2 {
    text-align: center;
    font-size: 1.8rem;
    margin: 0 37%;
}
.text span {
    font-weight: bold;
    color: black;
}
.text {
    text-align: center;
    margin: 1.5rem 30%;
}
.text p {
    color: #626262;
}
