.wrapper {
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
.title {
    white-space: nowrap;
}

.readmore {
    height: 100%;
    width: 21rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--buttonPagination);
    color: var(--white);
    font-weight: 700;
    font-size: 1.6rem;
}
