.container {
    width: 100%;
    display: flex;
}
.grid {
    width: 50%;
    height: 50vw;
    min-height: 250px;
}
.form-grid {
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 50%;
    height: 25vw;
    min-height: 250px;
}
.card-main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &:hover {
        .text {
            bottom: 250px;
        }
    }
}
.img {
    width: 100% !important;
    height: 100% !important;
    .imgIMG {
        object-fit: cover;
        width: 100% !important;
        height: 100% !important;
    }
}
.text {
    position: relative;
    color: white;
    bottom: 80px;
    transition: 0.5s;
    padding: 0 15%;
    h2 {
        padding: 30px;
        text-align: center;
        text-shadow: var(--text-shadow);
    }
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-shadow: var(--text-shadow);
    }
    .link {
        display: block;
        color: black;
        width: fit-content;
        padding: 10px 15px;
        background-color: rgb(255 209 35);
        margin: 30px auto;
        font-weight: bold;
    }
}

//responsive

@media only screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
        .grid {
            width: 100%;
        }
        .form-grid {
            width: 100%;
        }
    }
}
@media only screen and (max-width: 600px) {
    .form-grid {
        flex-direction: column;
        .card {
            width: 100%;
        }
    }
}
