.card {
    width: 48%;
    min-width: 220px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 1.8vw;
    display: flex;
    flex-direction: column;
}
.card-img {
    width: 100%;
    height: 15vw;
    min-height: 180px;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.infor {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    p {
        padding: 5px 0;
        color: gray;
    }
}
.title {
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    flex: 1;
    color: black;
}
.rating {
    color: rgb(209, 148, 27);
    margin-right: 5px;
    font-weight: bold;
}
.price {
    .price1 {
        color: black;
        font-weight: bold;
    }

    svg {
        margin-right: 5px;
        // color: linear-gradient(rgb(251 163 21), rgb(255 206 25));
        color: rgb(203, 144, 26);
    }
    .price2 {
        text-decoration: line-through;
    }
}
.place {
    svg {
        margin-right: 5px;
    }
}
