.card {
    width: 48%;
    min-width: 220px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 1.8vw;
    display: flex;
    flex-direction: column;
}

.card-img {
    width: 100%;
    height: 15vw;
    min-height: 180px;
}

.img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.infor {
    padding: 10px;
    display: flex;
    // flex: 1;
    flex-direction: column;

    p {
        padding: 5px 0;
        color: gray;
    }
}

.title {
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    flex: 1;
    color: black;
}

.rating {
    color: rgb(209, 148, 27);
    margin-right: 5px;
    font-weight: bold;
}

.price-type {
    .price {
        color: black;
        font-weight: bold;
    }

    svg {
        margin-right: 5px;
        color: rgb(203, 144, 26);
    }

    .real-price {
        text-decoration: line-through;
    }
}

.place {
    svg {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 700px) {
    .card {
        width: 100%;
    }
}
