.wrapper {
    width: 100%;
    background-color: var(--black);
}

.footer {
    width: 100%;
    padding: 0 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.main {
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    padding: 3% 0;
}

.main-top {
    display: flex;
    width: 100%;
}

//left
.main-left {
    display: flex;
    flex: 1;
    padding-right: 10px;
    width: 70%;
}

.infor {
    width: 40%;
}

.logo-img {
    display: block;
    width: 12vw !important;
    min-width: 120px !important;
    height: auto !important;
    margin-bottom: 20px;
}

.phone,
.email {
    display: flex;
    margin-bottom: 20px;
    color: gray;
}

.phone>div,
.email>div {
    margin-left: 10px;
}

.icon {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    color: gray;
}

.item-icon {
    border: 1px solid gray;
    border-radius: 50%;
    font-size: 14px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
    margin-right: 7px;
}

//
.list-link {
    width: 60%;
    display: flex;
}

.list {
    width: 50%;
    display: flex;
    flex-direction: column;

    a {
        margin-bottom: 15px;
        color: gray;
    }
}

.list>p {
    margin-bottom: 15px;
    color: gray;
}

//
.about {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.about>.title {
    margin-top: 0.8rem;
}

.about>p {
    color: gray;
    text-align: justify;
    text-justify: inter-word;
}

.about>.new-letter {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
}

.about>.form-email {
    display: flex;
    color: black;
}

.about>.form-email>button {
    background-image: var(--linear-gradient-btn2);
    // width: 40%;
    font-weight: bold;
    cursor: pointer;
    // font-size: 14px;
    padding: 10px 20px;
}

.about>.form-email>input {
    width: 60%;
    // height: 30px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: 1px solid white;
    // font-size: 14px;
}

//

.title {
    font-weight: bold;
    margin: 0.8rem 0;
}

.hr {
    border: 0.5px solid rgb(74, 74, 74);
    background-color: rgb(74, 74, 74);
    width: 100%;
}

.end {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: gray;
    margin: 30px 0 100px 0;
}

.end-left {
    display: flex;

    svg {
        margin-right: 5px;
    }
}

.list-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2.5vw 0;

}

.img {
    display: block;
    width: 15% !important;
    height: 100%;
}
.img-mini {
    display: block;
    width: 12% !important;
    height: 100%;
}
@media only screen and (max-width: 1500px) {
    .footer {
        padding: 0 15%;
    }
}
@media only screen and (max-width: 1200px) {
    .form-email {
        flex-direction: column;

        button {
            margin: 5px 0;
            width: 100%;
            padding: 7px !important;
        }

        input {
            width: 100% !important;
            padding: 7px !important;
        }
    }

    .footer {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 900px) {
    .main-top {
        flex-direction: column;
    }

    .main-left {
        margin: 0;
        width: 100%;
    }

    .about {
        width: 100%;
    }

    .form-email {
        flex-direction: row;

        button {
            margin: 0 !important;
            width: 40%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .end {
        margin: 20px 0 40px 0;
    }

    .main-left {
        flex-direction: column;

        padding-right: 0;

        .infor {
            width: fit-content;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 10px 0;

            .infor-bot {
                width: 50%;
            }
            .logo-img {
                height: 100% !important;
            }
        }

        .list-link {
            width: 100%;
        }
    }

    .item-icon {
        font-size: 12px;
        width: 24px;
        height: 24px;
        padding-top: 5px;
        margin-right: 3px;
    }

    .phone,
    .email {
        div {
            margin-left: 3px;
        }
    }
}