.title-line {
    position: relative;
    width: fit-content;
    .text-line {
        width: 100%;
        height: 4px;
        background-color: var(--yellow);
        position: relative;
        top: 12px;
    }
    .text-type {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 3px;
        position: relative;
    }
}
@media only screen and (max-width: 750px) {
    .text-type {
        font-size: 15px !important;
    }
}
