.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--background-gray);
    color: white;

    text-align: start;
    align-items: center;
    justify-content: flex-start;

    padding: 2rem 3rem;
    box-sizing: border-box;

    .content {
        position: relative;
        font-size: 1.2rem;
        font-weight: 350;

        &::before {
            position: absolute;
            content: '';
            width: 5rem;
            top: -1rem;
            border-bottom: 0.2rem solid var(--white);
        }
    }
}
.boxTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    flex: 1;

    margin-bottom: 0.5rem;
    .icon {
        display: block;
        height: 3rem;

        object-fit: contain;
        margin-bottom: 1rem;
    }

    .title {
        font-size: 1.6rem;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 0.5rem;
        font-weight: normal;
    }
}

.wrapper.backgroundBlack {
    background-color: var(--background-black);
}

.itemSlide {
    width: 450px !important;
}

@media only screen and (max-width: 968px) {
    .wrapper {
        padding: 4rem !important;
    }
}

@media only screen and (max-width: 750px) {
    .wrapper {
        padding: 5rem !important;
        .content {
            font-size: 1.4rem;
        }
    }
}
