.wrapper {
    width: 100%;

    .title {
        font-weight: 700;
        font-size: 3rem;
        text-transform: capitalize;
        margin-bottom: 3rem;
    }
}

.wrapperItem {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    gap: 3.5rem;
    border-top: 0.1rem solid var(--light);
    cursor: pointer;
    display: flex;
    .boxImg {
        min-width: 13rem;
        width: 20%;
        height: 11rem;

        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .boxContent {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .titleTour {
            font-size: 1.6rem;
            font-weight: 500;
            color: var(--black);
            text-transform: capitalize;
            margin-bottom: 2rem;
        }

        .boxInfoTour {
            display: flex;
            flex-direction: column;
            width: 100%;
            span {
                display: block;
                min-width: 18rem;
                width: 50%;
                font-size: 1.4rem;
                color: var(--light2);
                font-weight: 400;
                flex: 1;
                width: 100%;
            }
        }
    }

    .status {
        width: 16%;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 8rem;
            height: 3rem;
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--white);
            background-color: var(--white);
            border-radius: 0.4rem;
            text-transform: capitalize;
        }
    }
    .status span {
        background-color: var(--status-book);
    }
    .status.Prepare span {
        background-color: var(--status-book);
    }
    .status.BOOKED span {
        background-color: var(--status-book);
    }
    .status.planning span {
        background-color: var(--status-plan);
    }
    .status.cancel span {
        background-color: var(--status-cancel);
    }
    &:last-child {
        border-bottom: 0.1rem solid var(--light);
    }
}

@media only screen and (max-width: 900px) {
    .wrapperItem {
        gap: 1rem;
    }
}
