.wrapper {
    background: var(--linear-gradient-banner);
}

.bannerMain {
    width: 100%;
    height: 100%;
}

.sheaderBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: var(--linear-gradient-banner);

    .text {
        font-size: 2.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--white);
        text-shadow: 0.2rem 0.1rem 0.2rem var(--menu-text);
    }

    .textBottom {
        text-align: center;
        // margin-top: -4rem;
        font-size: 1.4rem;
        font-weight: lighter;
        color: var(--white);
        text-shadow: 0.1rem 0.2rem var(--black);
        margin-bottom: 5rem;
        max-width: 57rem;
        width: 95%;
    }

    .titleHome {
        font-size: 5.2rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: var(--white);
        margin-bottom: 2rem;
        text-shadow: 0.2rem 0.1rem 0.2rem var(--menu-text);
        padding: 0 10%;
    }

    .boxSearch {
        display: flex;
        width: 100%;
        justify-content: center;

        .boxSearch-item {
            height: 100%;
            width: 50%;
            max-width: 350px;
            border: 0.1rem solid var(--menu-text);
            border-radius: 0.2rem;
            background-color: var(--background-white-opacity);
            display: flex;
            margin-right: 10px;

            svg {
                margin: auto auto;
                height: 70%;
                width: auto;
                padding: 0 5px;
                border-right: 1px solid gray;
            }

            .boxSearch-ip {
                position: relative;
                flex: 1;
                height: 100%;

                .input {
                    background-color: var(--background-white-opacity);
                    font-size: 1.4rem;
                    height: 100%;
                    width: 100%;
                    padding: 0 10px;
                }

                .input.input1 {
                    width: 27rem;
                }

                .input.input2 {
                    width: 36rem;
                }

                .list1 {
                    width: 100%;
                    position: absolute;
                    top: 42px;
                    background-color: white;

                    p {
                        padding: 10px;
                    }

                    p:hover {
                        background-color: rgb(224, 226, 228);
                    }
                }
            }
        }

        .btn-search {
            font-size: 1.4rem;
            font-weight: 700;
            color: var(--black);
            padding: 1.6rem 3rem;
            background-image: var(--linear-gradient-btn2);
            border-radius: 0.2rem;
        }
    }
}

@media only screen and (max-width: 750px) {
    .sheaderBox {
        .text {
            font-size: 2rem;
        }

        .titleHome {
            font-size: 3rem;
        }
    }

    .boxSearch {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

        .boxSearch-item {
            height: 40px !important;
            width: 80% !important;
            margin-bottom: 20px;

            .input {
                width: 100% !important;

                font-size: 1.4rem !important;
                flex: 1;
            }
        }

        .btn-search {
            margin-top: 1rem;
            padding: 1.2rem 3rem !important;
            width: 40%;
            text-align: center;
        }
    }

    .text-img {
        padding: 0 10% !important;

        h1 {
            font-size: 2rem !important;
            letter-spacing: 0px !important;
        }
    }
}

//BannerIMG
.container {
    width: 100%;
    height: 35vw;
    min-height: 35rem;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-img {
    position: absolute;
    top: 0;
    padding: 0 25%;
    height: 100%;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        width: 100%;
        text-align: center;
        letter-spacing: 8px;
        font-size: 3rem;
        font-weight: 2000;
        margin: 1rem 0;
        text-transform: uppercase;
        text-shadow: var(--text-shadow);
    }

    .text-des {
        text-align: center;
    }
}

.infor {
    margin-top: 3rem;
    width: fit-content;
    padding: 1rem 3rem;
    background-color: var(--buttonPagination);
    display: flex;
    border-radius: 20px;

    div {
        display: flex;

        img {
            margin-right: 10px;
        }

        p {
            font-weight: bold;

            span {
                font-weight: normal;
                margin-right: 5px;
            }
        }
    }

    .infor-center {
        margin: 0 10px;
    }
}

.crumb {
    width: fit-content;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: var(--yellow);
    display: flex;
    color: rgb(54, 54, 54);
    letter-spacing: 2px;

    margin-top: 3rem;

    .titleHome {
        color: var(--buttonPagination);
    }

    svg {
        margin: 0 10px;
    }
}

.crumb.crumbStyle2 {
    background-color: var(--buttonPagination);
    color: var(--white);

    .titleHome {
        color: var(--white);

        &:hover {
            color: var(--primary);
        }
    }
}
@media only screen and (max-width: 900px) {
    .text-img {
        h1 {
            font-size: 18px;
        }
    }
}
