.wrapper {
    width: 100%;
    padding-top: 5rem;  
    // display: flex;
    .btn{
        background-color: var(--button);
        width: 150px;
        height: 50px;
        display: block;
        margin: 0% auto;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
    }
    .title {
        font-weight: 700;
        font-size: 3rem;
        text-transform: capitalize;
        margin-bottom: 3rem;

        svg{
            margin-left: 30px;
        }
        svg:hover{
            color: var(--button);
        }
    }
    .radio{
        padding:5px 0;
        p{
            padding: 1.5rem 0;
        }
        div{
            padding: 0;
            input{
                margin-right: 50px;
                margin-left: 20px;
            }
        }
    }

    div{
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 2rem 0;

        h3{
            width: 20%;

        }
        p{
            width:50%;
            font-weight: bold;

        }
        input{
            width: 100%;
            height: 4rem;
            background-color: transparent;
            border: 0.1rem solid var(--light);
            border-radius: 0.5rem;
            padding: 1rem;
            font-size: 1.4rem;
            color: var(--black);
            font-weight: 400;
            text-transform: capitalize;
            resize: none;
            justify-content: left !important;
        }
        textarea{
            width: 100%;
        }
    }
   
    hr{
        border: solid 1px rgb(221, 216, 216);
        width: 70%;
        // margin-bottom: 10px;
    }
}
