.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: var(--default-layout-header-height);
    background-color: transparent;

    z-index: 1000;
}

.wrapper {
    display: flex;
    max-width: 1100px;
    width: 95%;
    margin: auto;
    height: 100%;

    justify-content: space-between;
    align-items: center;
    .linkHomepage {
        height: 60%;
        .logo {
            height: 100%;
            width: auto;
        }
    }

    .menubody {
        font-size: 1.4rem;
        display: flex;

        .item {
            position: relative;
            color: var(--menu-text);
            text-transform: uppercase;
            font-weight: 600;
            margin: 0 2rem;
            line-height: 1.8rem;

            cursor: pointer;

            &::before {
                position: absolute;
                content: '';
                width: 0;
                bottom: -0.3rem;
                border-bottom: 0.2rem solid var(--border-color2);
                transition: var(--transition-delay);
            }

            .menuHoverBody {
                display: none;
            }
        }

        .item:hover {
            .menuHoverBody {
                display: block;
            }

            &::before {
                width: 100%;
                transition: var(--transition-delay);
            }
        }
    }

    .itemRight {
        color: var(--gray);
        display: flex;
        align-items: center;
        position: relative;

        .icon {
            font-size: 2.4rem;
            margin: 0 1rem;
            cursor: pointer;

            &:hover {
                color: var(--primary);
            }
        }

        .icon.menuIcon {
            display: none;
        }

        .button {
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--black);
            text-transform: uppercase;
            border-radius: 0.3rem;
            margin-left: 2rem;
            padding: 1.2rem 0.7rem;
            background-image: var(--linear-gradient-btn);
            display: block;

            span {
                white-space: break-spaces;
            }
        }
    }
}

.item-user {
    position: relative;

    .menuHover {
        left: 0;
        display: none;
    }
}

.item-user:hover {
    .menuHover {
        display: block;
    }
}

.menuHover {
    position: absolute;
    width: 15rem;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    box-shadow: 0 0.2rem 0.3rem rgb(0 0 0 / 40%);
    border-top: solid 2px var(--button);

    .itemMenuHover {
        position: relative;
        display: block;
        padding: 1rem 0 1rem 1.5rem;
        background-color: var(--white);
        color: var(--menu-text);
        width: 100%;
        border-bottom: 0.1rem solid var(--border-light);
    }

    .itemIsChildren {
        position: relative;

        .icon {
            position: absolute;
            right: 1rem;
            font-size: 2.2rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .itemMenuHover:hover {
        color: var(--primary);
    }



    &::before {
        position: absolute;
        content: '';
        background-color: transparent;
        width: 100%;
        height: 4rem;
        top: -3rem;
        left: 1rem;
    }

    .headerBack {
        width: 100%;
        display: flex;
        background-color: #e2e2ab;
        align-items: center;
        padding: 1rem;
        border-top: 0.2rem solid var(--black2);

        .back-btn {
            text-align: center;
            display: flex;
            align-items: center;

            font-size: 1.8rem;
            margin-right: 1rem;

            &:hover {
                color: var(--primary);
            }
        }
    }
}

.sl-trans {
    top: 50px;
    position: absolute;
}

.user {
    .login {
        display: flex;
        position: fixed;
        right: 10px;
        max-width: 95%;
        top: 50px;
    }
}

//menu mobile

.listMobile {
    display: none;
}

@media only screen and (max-width: 2400px) {
    .user {
        .login {
            position: absolute;
            max-width: none;
            right: 0;
        }
    }
}

@media only screen and (max-width: 868px) {
    .itemRight .icon.active {
        color: var(--primary);
    }

    .icon.menuIcon {
        display: block !important;
    }
    .menuHoverBody {
        display: none !important;
    }
    .menubody {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: var(--border-style);
        border-bottom: var(--border-style);
        background-color: var(--white-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        height: 100vh;
        transition: var(--transition-delay);

        flex-direction: column;

        .item {
            display: block;
            padding: 2rem 2rem !important;
            margin: 0 !important;
            background: linear-gradient(90deg, white, transparent);
        }

        .item:hover {
            color: var(--primary);

            &::before {
                width: 0% !important;
                transition: var(--transition-delay);
            }
        }
    }

    .menubody.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        transition: var(--transition-delay);
    }

    .menuHover {
        left: 15rem;
        top: 2.2rem;
    }
    .listMobile {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        .listMobile-1 {
            padding-left: 15px;
            color: black;
            margin-top: 10px;
        }
        .listMobile-1:hover {
            color: var(--primary);
        }
        .listMobileDiv {
            display: flex;
            flex-direction: column;
            padding-left: 15px;
        }
        a {
            margin-top: 10px;
            padding-left: 15px;
            color: black;
        }
        a:hover {
            color: var(--primary);
        }
    }
}

.button-call {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        margin: 0 5px;
    }

    .button {
        white-space: nowrap;
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 600px) {
    .button-call {
        display: none;
    }
}
