.card {
    width: 31.4%;
    min-width: 220px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 1.8vw;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}
.card-img {
    width: 100%;
    height: 15vw;
    min-height: 180px;
    overflow: hidden;
}

.img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.infor {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;

    p {
        padding: 5px 0;
        color: gray;
    }
}

.title {
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    flex: 1;
    color: black;
}

.rating {
    color: rgb(209, 148, 27);
    margin-right: 5px;
    font-weight: bold;
}

.price-type {
    .price {
        color: black;
        font-weight: bold;
    }

    svg {
        margin-right: 5px;

        color: rgb(203, 144, 26);
    }

    .real-price {
        text-decoration: line-through;
    }
}

.place {
    display: block;
    display: -webkit-box;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;

    svg {
        margin-right: 5px;
    }
}
.card:hover {
    transform: scale(1.1);
}

//Card 2 -----------------------------------------------------

.card2 {
    width: 100%;
    display: flex;
    height: auto;
    position: relative;
    margin-bottom: 2vw;
    transition: 0.3s;
}
.card2:hover {
    transform: scale(1.05);
}

.img-card2 {
    flex: 1;
    height: auto;
    position: relative;
}

.img2 {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.infor2 {
    width: 45%;
    padding: 2vw 1.7vw;
    background-color: rgb(247 247 247);

    p {
        padding: 5px 0;
        color: gray;
    }
}

.highlight {
    margin: 12px 0;
    display: -webkit-box;

    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

    button {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: rgb(203, 144, 26);
        margin-right: 10px;
    }

    p {
        padding: 3px;
    }
}

.book {
    padding: 10px 20px;
    color: rgb(203, 144, 26);
    background-color: black;
    font-weight: bold;
}

.salesticky {
    position: absolute;
    top: 0;
    // left: 42%;
    right: 5%;
    background-color: rgb(241 164 26);
    padding: 20px 15px;

    p {
        color: white;
        padding: 0;
        text-align: center;
    }

    .salenumber {
        font-size: 30px;

        span {
            font-size: 15px;
        }
    }
}

//responsive
@media only screen and (max-width: 900px) {
    .card {
        width: 48%;
    }

    .place {
        height: 45px;
    }
}

@media only screen and (max-width: 700px) {
    .card2 {
        width: 100%;
        margin-bottom: 3rem;
        flex-direction: column;
        margin: auto;
        margin-bottom: 6rem;

        // .salesticky {
        //     // right: 0;
        //     left: unset;
        // }

        .infor2 {
            width: 100%;
            padding: 2rem 2rem 3rem;
        }
    }

    .place {
        height: 45px;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .place {
        height: 40px;
    }
}
