.card {
    width: 31.4%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 1.8vw;
}
.img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.infor {
    padding: 10px;
    p {
        padding: 5px 0;
        color: gray;
    }
}
.title {
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 2px;
}
.rating {
    color: rgb(209, 148, 27);
    margin-right: 5px;
    font-weight: bold;
}
.price {
    .price1 {
        color: black;
        font-weight: bold;
    }

    svg {
        margin-right: 5px;
        // color: linear-gradient(rgb(251 163 21), rgb(255 206 25));
        color: rgb(203, 144, 26);
    }
    .price2 {
        text-decoration: line-through;
    }
}
.place {
    svg {
        margin-right: 5px;
    }
}

//Card 2 -----------------------------------------------------

.card2 {
    width: 100%;
    display: flex;
    height: auto;
    position: relative;
}
.img2 {
    width: 55%;
    height: 100%;
    object-fit: cover;
}
.infor2 {
    padding: 2vw 1.7vw;
    background-color: rgb(247 247 247);
    p {
        padding: 5px 0;
        color: gray;
    }
}
.highlight {
    margin: 15px 0;
    button {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: rgb(203, 144, 26);
        margin-right: 10px;
    }
}
.book {
    padding: 10px 20px;
    color: rgb(203, 144, 26);
    background-color: black;
    font-weight: bold;
}
.salesticky {
    position: absolute;
    top: 0;
    left: 43%;
    background-color: rgb(241 164 26);
    padding: 20px 15px;
    p {
        color: white;
        padding: 0;
        text-align: center;
    }
    .salenumber {
        font-size: 30px;
        span {
            font-size: 15px;
        }
    }
}
