.container {
    width: 100%;
}
.main {
    width: 100%;
}
.main-top {
    padding: 5% 28% 5% 18%;
    width: 100%;
    display: flex;
    .content {
        width: 80%;
    }
}
.main-bot {
    padding: 5% 28% 5% 28%;
    width: 100%;
    .content {
        width: 100%;
        padding-bottom: 10%;
        border-bottom: 1px solid var(--light);
    }
}
.author {
    width: 20%;
}
.content {
    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    table {
        width: 100%;
        margin: 2% 0;
    }
}
.main-end {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}
.tag-list {
    span {
        font-size: 14px;
        margin-right: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        text-decoration: line-through yellow 3px;
    }
}
.share-list {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        margin-right: 10px;
    }
}

//author
.author-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
    .author-avt {
        width: 100px;
        height: 100px;
        background-color: var(--light);
        border-radius: 50%;
        margin-bottom: 10px;
    }
    p {
        text-align: center;
    }
}
