.bannerBlogList {
    margin-bottom: 7rem;
}

.bodyContent {
    .listBlogBody {
        flex: 1;

        .bodyBlogItem {
            width: 100%;
            border-top: 0.1rem solid var(--light2);

            &:first-child {
                border-top: none;
            }
        }
    }

    .boxFilter {
        margin-top: 7rem;
        width: 30rem;
    }
}
@media only screen and (max-width: 1180px){
    .listBlogBody{
        margin-left: 2rem;
    }

}
@media only screen and (max-width: 868px){
    .boxFilter{
        width: 25rem !important;
    }

}
@media only screen and (max-width: 500px){
    .boxFilter{
        width: 15rem !important;
    }
    .boxFilter .title{
        font-size: 8px;
    }
}
