.container {
    width: 100%;
}
.main {
    width: 100%;
}
.main-top {
    padding: 5% 28% 5% 18%;
    width: 100%;
}
.main-bot {
    padding: 5% 28% 5% 28%;
    width: 100%;
}
.content {
    width: 100%;
    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    table {
        width: 100%;
        margin: 2% 0;
    }
}
