.bodyContent {
    padding: 5% 20%;
    display: flex;
    .listBlog-main {
        width: 50%;
        flex: 1;
        .listBlogBody {
            width: 100%;

            .bodyPage {
                display: flex;
                justify-content: flex-end;
            }

            .bodyBlogItem {
                width: 100%;
                border-top: 0.1rem solid var(--light2);

                &:nth-of-type(1) {
                    border-top: none;
                }
            }
        }
    }
    .boxFilter {
        width: 31%;
    }
}

.btnFill {
    display: none;
}
@media only screen and (max-width: 1500px) {
    .bodyContent {
        padding: 5% 15%;
    }
}
@media only screen and (max-width: 1200px) {
    .bodyContent {
        padding: 5% 10%;
    }
}
@media only screen and (max-width: 900px) {
    .bodyContent {
        padding: 5% 5%;
    }
}
@media only screen and (max-width: 600px) {
    .bodyContent {
        flex-direction: column-reverse;
    }
    .boxFilter {
        width: 100% !important;
    }
    .btnFill {
        display: flex;
        max-width: 20rem;
        padding: 1rem 3rem;
        margin-top: 2rem;
        background-color: var(--white);
        color: var(--primary);
        border: 0.1rem solid var(--primary);
        justify-content: center;
        margin-left: 1rem;

        &:hover {
            color: var(--black);
        }
    }
    .listBlog-main {
        width: 100% !important;
    }
}
