.container {
    width: 100%;
}
.main {
    width: 100%;
}
.main-top {
    padding: 5% 28% 5% 18%;
    width: 100%;
    display: flex;
    .content {
        width: 50%;
        flex: 1;
    }
}
.main-bot {
    padding: 5% 28% 5% 28%;
    width: 100%;
    .content {
        width: 100%;
        padding-bottom: 10%;
        border-bottom: 1px solid var(--light);
    }
}
.img-banner {
    width: 100%;
    height: 40vw;
    object-fit: cover;
}
.author {
    width: 20%;
    min-width: 120px;
}
.content {
    color: gray;
    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin: 20px 0;
    }
    table {
        width: 100%;
        margin: 2% 0;
    }
}
.main-end {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}
.tag-list {
    width: 30%;
    padding-right: 20px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    div {
        font-size: 14px;
        margin-right: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        white-space: nowrap;
    }
}
.share-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    span {
        margin-right: 10px;
    }
}

//author
.author-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
    .author-avt {
        width: 100px;
        height: 100px;
        background-color: var(--light);
        border-radius: 50%;
        margin-bottom: 10px;
    }
    p {
        text-align: center;
    }
}

//comments
.comment-container {
    padding: 5% 30%;
    background-color: var(--super-light);
}
//wrie a post
.write-cm {
    width: 100%;
    margin-top: 5rem;
}
.textarea {
    display: block;
    width: 100%;
    border: 1px solid black;
}
.login-list {
    text-align: right;
    padding: 0.5vw 0;
}
.btn {
    display: block;
    padding: 15px 30px;
    font-weight: bold;
    color: white;
    background-color: var(--black2);
    margin: 0.5vw auto;
}

//blogrecomment
.blog-recomment {
    display: flex;
    flex-direction: row;
    width: 100%;
}

//comment-item
.comments {
    width: 100%;
}
.comment-reply {
    margin-left: 8rem;
}
.comment {
    display: flex;
    padding-bottom: 4rem;
    border-bottom: 1px solid gray;
    margin-top: 4rem;
    .main {
        width: 50%;
        flex: 1;
        .au-cm {
            font-weight: bold;
            color: black;
            span {
                font-weight: normal;
                color: gray;
            }
            svg {
                margin-left: 20px;
                margin-right: 10px;
            }
        }
        p {
            margin-bottom: 1rem;
            font-weight: normal;
            color: gray;
        }
    }
}
.avt {
    width: 6rem;
    margin-right: 2rem;
    height: 6rem;
    border-radius: 100%;
    background-color: var(--light);
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 1500px) {
    .main-top {
        padding: 5% 23% 5% 13%;
    }
    .main-bot {
        padding: 5% 23% 5% 23%;
    }
    .comment-container {
        padding: 5% 20%;
    }
}
@media only screen and (max-width: 1200px) {
    .main-top {
        padding: 5% 18% 5% 8%;
    }
    .main-bot {
        padding: 5% 18% 5% 18%;
    }
    .comment-container {
        padding: 5% 12%;
    }
}
@media only screen and (max-width: 900px) {
    .main-top {
        padding: 5%;
    }
    .main-bot {
        padding: 5% 5% 5% 5%;
    }
    .comment-container {
        padding: 5% 10%;
    }
}
@media only screen and (max-width: 600px) {
    .tag-list {
        span {
            font-size: 12px;
        }
    }
}
