.container {
    width: 100%;
}

.main {
    width: 100%;
}

.main-infor {
    width: 100%;
    padding: 5% 20%;
}

//hilghlight
.highlight {
    width: 100%;

    .top {
        width: 100%;
        display: flex;

        .top-img {
            width: 30% !important;
            height: 28vw !important;
            object-fit: cover;
        }

        .top-hl {
            width: 50%;
            flex: 1;
            padding-left: 5%;

            p {
                margin-top: 30px;
                font-size: 14px;
                color: var(--light2);

                svg {
                    margin-right: 5px;
                    color: var(--primary);
                }
            }
        }
    }

    .bot-img {
        margin-top: 30px;
        width: 100% !important;
        height: 32vw !important;
        object-fit: cover;
    }
}

//in-ex
.in-ex {
    width: 100%;
    padding-top: 40px;
}

.main-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    span {
        font-size: 14px;
        width: 30%;
        margin: 10px 0;

        svg {
            margin-right: 5px;
        }
    }
}

//book
.book-div {
    width: 80%;
    padding: 10% 0 5% 0;
    margin: 0 auto;
    border-bottom: 1px solid gray;

    .text {
        font-weight: bold;
        width: 100%;
        font-size: 18px;
        text-align: center;
    }

    .btn-book {
        display: block;
        font-size: 24px;
        border-radius: 10px;
        background: var(--linear-gradient-btn);
        padding: 10px 20px;
        margin: 20px auto;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1200px) {
    .main-infor {
        width: 100%;
        padding: 3% 15%;
    }
}

@media only screen and (max-width: 768px) {
    .main-infor {
        padding: 3% 10%;
    }

    .highlight {
        .top {
            .top-img {
                width: 35% !important;
                height: 35vw !important;
                object-fit: cover;
            }
        }

        .bot-img {
            margin-top: 30px;
            width: 100% !important;
            height: 32vw !important;
            object-fit: cover;
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-infor {
        padding: 3% 8%;
    }

    .highlight {
        .top {
            .top-img {
                width: 40% !important;
                height: 45vw !important;
                object-fit: cover;
            }

            .top-hl {
                p {
                    font-size: 12px;
                    margin-top: 10px;
                }

                .title {
                    font-size: 15px;
                }
            }
        }

        .bot-img {
            height: 45vw !important;
        }
    }

    .main-list {
        span {
            font-size: 12px;
            margin-left: 5px;
        }
    }

    .in-ex {
        width: 100%;
        padding-top: 40px;

        .title-header {
            font-size: 15px;
        }
    }

    .book-div {
        .text {
            font-size: 15px;
        }
    }
}
