:root {
    --primary: #f5a623;
    --black: #000;
    --black2: #2a2a2a;
    --gray: #333;
    --yellow: #ffd307;
    --super-light: #f2f2f7;
    --light: #a9a9ad;
    --light2: #616161;
    --white: #fff;
    --title-color: #303a45;
    --title-tour-color: #2d2d2d;
    //home
    --button: #fdd129;
    --buttonPagination: #2d3a4b;
    --buttonPagination-active: #cccccc;
    --box: #101010;
    --icon: #f5a623;
    --border-color: #ff9d1f;
    --border-color2: #fa9834;
    --border-light: #edd5d5;
    //
    --status-book: #1fe485;
    --status-cancel: #e41f3b;
    --status-plan: #ffc105;

    --background-black: #050505;
    --background-gray: #1b1b1b;
    --background-light: #f5f5f5;
    --background-white-opacity: rgba(255, 255, 255, 0.7);
    --menu-text: #464646;
    --linear-gradient-btn: linear-gradient(to right, #fdd727, #fa9b31);
    --linear-gradient-btn2: linear-gradient(#ffb24e, #f9cf27);
    --linear-gradient-banner: linear-gradient(rgb(248, 248, 247, 0.8), rgba(151, 151, 150, 0), rgb(3, 3, 3, 0.5));
    --linear-gradient-menu: linear-gradient(rgb(3, 3, 3, 0.2), rgba(151, 151, 150, 0), rgba(227, 227, 207, 0.8));
    --linear-gradient-img: linear-gradient(rgba(247, 247, 247, 0.116), rgba(0, 0, 0, 0.675));

    --box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    --font-family: 'ProximaNova';
    --text-shadow: 0 0 20px #000;

    --default-layout-header-height: 7rem;
    --default-layout-width: 1150px;
    --default-layout-hozi-spacer: 24px;
    --transition-delay: all 0.2s ease-in;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat', sans-serif !important;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    top: 0px !important;
}
body {
    transition: all 0.3s ease-in-out;
}

body.scroll-up {
    transform: translateY(0);
}

body.scroll-down {
    transform: translateY(-50px);
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

#google_translate_element {
    width: 100%;
    // background: white;
    top: 45px;
    right: 0px;
    // padding: 10px;
    // border: 1px solid var(--button);
}
a {
    color: #050505;
}
a:hover {
    color: purple;
}
.goog-te-gadget {
    height: 38px;
    overflow: hidden;
    // width: 100%;
}
.goog-te-gadget span {
    display: none;
}
.goog-te-combo {
    padding: 5px;
    color: #514631;
    background-color: rgb(246, 248, 246);
    outline: none;
    border: 2px solid var(--button);
    // width: 100%;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none;
}
/* =================== RESPONSIVE GLOBAL ========================= */

// @media only screen and (max-width: 1200px) {
// }

@media only screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media only screen and (max-width: 468px) {
    html {
        font-size: 50%;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
#act {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#bg {
    background: var(--linear-gradient-banner);
}
