.wrapperBanner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .boxInfo {
        width: 100%;
        height: 30%;
        display: flex;

        &:nth-child(1) {
            background-color: var(--background-black);
        }

        &:nth-child(even) {
            background-color: var(--backgroud-gray);
        }
    }

    .boxInfo:nth-child(1) {
        background-color: var(--background-black);
    }

    .bodyBanner {
        position: relative;
        width: 100%;
        height: 70%;

        .bannerMain {
            width: 100%;
            height: 100%;
        }

        .sheaderBox {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
