.wrapper {
    width: 100%;
    .bannerBody {
        width: 100%;
        height: 70vh;
    }

    .sectionDiff {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 9rem;

        .sectionDiffCase {
            width: 100%;
            display: flex;
            gap: 1rem;
        }

        &:last-child {
            margin-bottom: 8.5rem;
        }
    }

    .btnBoxContact {
        max-width: 66.5rem;

        width: 100%;
        margin: 9rem auto;

        padding: 4.5rem 13rem;
        border-radius: 0.2rem;

        border: 0.1rem solid var(--buttonPagination);
        text-align: center;
        .text {
            font-size: 1.4rem;
            font-weight: 400;
            color: var(--light2);
            margin-bottom: 1.5rem;
        }

        .btn {
            width: 21rem;
            height: 4.6rem;
            font-size: 1.4rem;
            font-weight: 600;
            text-transform: uppercase;
            color: var(--buttonPagination);
            background-color: var(--yellow);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1.5rem auto 0;
            border-radius: 0.2rem;
        }
    }
}
