.wrapper {
    width: 100%;
    .bannerBody {
        width: 100%;
        height: 70vh;
    }
    .titleTravel {
        margin-top: 6rem;
        margin-bottom: 3rem;
    }

    .titleBanner {
        font-size: 3.6rem !important;
    }
}
.descrip {
    margin-bottom: 5rem;
    line-height: 1.5;
}
.main {
    width: 100%;
    padding: 0 20%;
}
.list-tour {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sort {
    display: flex;
    margin-bottom: 20px;

    span {
        font-weight: bold;

        &:hover {
            color: var(--primary);

            &::before {
                border-top: 0.3rem solid var(--primary);
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    .main {
        padding: 0 15%;
    }
}
@media only screen and (max-width: 1200px) {
    .main {
        padding: 0 10%;
    }
}
@media only screen and (max-width: 900px) {
    .main {
        padding: 0 5%;
    }
}
