.blog {
    width: 100%;
    padding-top: 7rem;

    .blogImg {
        width: 100% !important;
        height: 47rem !important;
        object-fit: covers;
    }
}
.blog .img {
    width: 100%;
    height: 30vw;
    min-height: 250px;
}
.blog .img .blogImg {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.blog .icon {
    text-align: right;
    padding: 1rem 0;
}

.blog .title {
    font-size: 1.8rem;
    padding: 2rem 0;
}

.blog .hr {
    border: solid 0.5px #d1d5db;
    width: 20%;
    margin-bottom: 2rem;
}

.icon-form span {
    margin-right: 2%;
}

.blog .icon2 span {
    margin: 0px 1rem;
    font-weight: bold;
    font-size: 12px;
}

.blog .text p {
    color: grey;
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 3rem;
    max-width: 77rem;
    text-align: justify;
    text-justify: inter-word;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-read {
    margin: 7rem 0;
    height: 5.4rem;

    // width: 100%;
    .readmore {
        height: 100%;
        width: 21rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--buttonPagination);
        color: var(--white);
        font-weight: 700;
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 1260px) {
    .blog {
        padding-top: 5rem;
    }
}

@media only screen and (max-width: 660px) {
    .blog .title {
        font-size: 1.4rem;
    }
    .icon {
        height: 8px;
    }
    .blog .icon2 span {
        font-size: 8px;
    }

    .blog {
        padding-top: 2rem;
    }
    .btn {
        margin: 3rem 0 !important;
    }
}
