//blogcard3
.blogcard3 {
    flex: 1;
    min-width: 35rem;
    height: 35vw;
    min-height: 40rem;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .blog-infor {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .blog-title {
            width: 100%;
            padding: 20px 25%;
            text-align: center;
            text-shadow: 0 0 20px #000;
        }
        .blog-by {
            font-size: 14px;
            margin-bottom: 30px;
            text-shadow: 0 0 20px #000;
            span {
                font-weight: bold;
            }
        }
        .day {
            font-size: 60px;
            font-weight: bold;
            text-shadow: 0 0 20px #000;
        }
        .num-cm {
            font-weight: bold;
            font-size: 20px;
            margin-top: 10px;
            text-shadow: 0 0 20px #000;
            svg {
                color: var(--yellow);
            }
        }
    }
}

//blogcard4

.blogcard4 {
    width: 100%;
    display: flex;
    img {
        width: 40%;
    }
    .text-box {
        width: 60%;
    }
}
