.list-des {
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: 40vw;
}
.col1 {
    width: 50%;
    height: 40vw;
    .full {
        height: 100%;
    }
}
.col2 {
    width: 30%;
    height: 40vw;
    .big {
        height: 60%;
    }
    .small {
        height: 40%;
    }
}
.col3 {
    width: 20%;
    height: 40vw;
    .normal {
        height: 50%;
    }
}
.des-item {
    width: 100%;
    position: relative;
    display: block;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .des-text {
        width: 100%;
        height: 100%;
        background-color: rgba(2, 2, 2, 0);
        color: rgb(255, 255, 255, 0);
        position: absolute;
        top: 0;
        transition: 0.4s;
        padding: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.des-item:hover {
    .des-text {
        background-color: rgba(2, 2, 2, 0.5);
        color: white;
    }
}

//des-id
.container {
    text-align: center;
    width: 100%;
    background-image: url('/10.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.list-month-container {
    width: 100%;
    background-color: white;

    .text {
        padding: 5% 30%;

        h5 {
            font-size: 2rem;
            padding: 2rem 0;
        }
        .hr {
            height: 1px;
            width: 200px;
            background-color: black;
            margin: 0 auto;
            margin-top: 2rem;
        }
    }
    .list-month {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 20%;
    }
    .item-month {
        width: 9vw;
        height: 9vw;
        margin-bottom: 2vw;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        div {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: rgb(9, 9, 9, 0.5);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

//banner
.banner {
    height: 30vw;
    background: none;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1.5rem;
        padding: 2rem 0;
    }
    svg {
        font-size: 3.5rem;
    }
}

//hottour
.hottour {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 20%;
    background-color: rgb(237, 242, 242);
}
.tour-box {
    width: 32%;
    height: 25vw;
    background-color: white;
    margin-bottom: 1.5vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.hr2 {
    height: 2px;
    width: 150px;
    background-color: orange;
}
.intro {
    width: 100%;
    height: 100%;
    padding: 3rem 2rem;
    text-align: start;
    h2 {
        font-size: 2rem;
        padding-bottom: 1.5rem;
        color: darkgreen;
    }
    p {
        font-size: 1.5rem;
        padding: 3rem 0;
    }
    button {
        width: 100%;
        background: none;
        padding: 12px;
        color: green;
        border: 2px solid green;
    }
}
.tour-card {
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 45%;
        object-fit: cover;
    }
    .tour-text {
        text-align: start;
        padding: 2rem;
        display: flex;
        height: 55%;
        flex-direction: column;
        h3 {
            font-size: 2.5rem;
            padding-bottom: 2rem;
            flex: 1;
            color: green;
            font-style: italic;
        }
        p {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 1.7rem;
            padding: 1.5rem 0;
            color: darkgreen;
            font-weight: normal;
            span {
                font-weight: bold;
            }
        }
    }
    .list-link {
        display: flex;
        gap: 15px;
        a {
            display: block;
            padding: 1rem 1.5rem;
            border: 2px solid goldenrod;
            color: goldenrod;
            border-radius: 5px;
        }
        a:last-child {
            color: darkslateblue;
            border: 2px solid darkslateblue;
        }
    }
}

//guide
.guide {
    padding: 5% 20%;
    text-align: center;
    background-color: white;
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
        padding: 1rem 0 2rem 0;
    }
}
.list-guide {
    display: flex;
    justify-content: space-between;
}
.item-guide {
    width: 32%;
    height: 15vw;
    position: relative;
    img {
        width: 100%;
        height: 100%;
    }
    .text-guide {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 3rem;
        h6 {
            padding: 1rem;
            background-color: white;
            font-size: 1.5rem;
            width: fit-content;
            border-radius: 5px;
            margin-bottom: 2rem;
        }
        p {
            color: white;
            font-size: 2rem;
            font-weight: bold;
            text-align: start;
            padding: 0;
        }
    }
}
